.Menu {
	display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

/*Design for the active NavLink */
.Menu .active {
    color: green;
    font-family: Arial;
    font-weight: bold;
}
